*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: inherit;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}
